html {
  font-family:verdana;
  background-color:#000000
}
.headerButton {
  background-color:#3381f5;
  border:3px;
  border-style:solid;
  border-color:#3381f5;
  font-size:20px;
  color:#ffffff;
  transition-duration: 0.3s
}
.headerButton:hover {
  background-color:#7faff5;
  border-color:#7faff5
  
}
.title {
  font-size:75px;
  color:#ffffff;
  position:absolute;
  top:20px
}
.blueBorder {
  border:6px; 
  border-style:solid; 
  border-color:#3381f5;
  background-color:#3381f5;
  margin: auto;
}
.pageDiv {
  margin: auto;
  border-style:none;
  box-shadow: 0 0 3px 2px grey;
  background-color:#e9ecf2
  
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
  color:#3381f5;
}
.whiteLink {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}
.downloadButton {
  background-color:#3381f5;
  border:3px;
  border-style:solid;
  border-color:#3381f5;
  font-size:20px;
  color:#ffffff;
  transition-duration: 0.3s;
  margin-left:25px
}
.downloadButton:hover {
  background-color:#7faff5;
  border-color:#3381f5
}
.downLink {
  color: #ffffff;
  text-decoration: none;
}
.sideText {
  color:#3381f5;
  margin-left:25px;
  text-decoration: none;
}
.sideLink {
  color:#3381f5;
  text-decoration: underline;
}
.blueText {
  color: #ffffff;
}