html {
	font-family:Tahoma;
	background-color:black;
}
a {
	color:#3485d9;
}
a:visited {
	color:#3485d9;
}
img {
	border-radius:5px;
	margin:5px;
}
.allDiv {
	/*margin-left:30px;
	margin-right:30px;*/
	border-radius:7px;
	color:#f1f1f1;
	border:3px;
    border-style:solid;
    border-color:#3381f5;
	max-width:1200px;
	margin:auto;
	background-color:#f0f0f0;
}
.allNav {
	background-color:#3381f5;
	padding-left:3px;
	padding-right:3px;
	padding-top:1px;
}
.buttonDiv {
	max-width:500px;
}
.dark {
	background-color:#d4d4d4;
	padding:5px;
	border-radius:15px;
}
.darkNull {
	padding:5px;
}
.downButton {
	transition-duration:0.5s;
	cursor:pointer;
	border:3px;
	border-style:solid;
	border-radius:15px;
	border-color:#3381f5;
	color:#f1f1f1;
	background-color:#3381f5;
	font-weight:bold;
	font-size:20px;
	padding-left:15px;
	padding-right:15px;
}
.downButton:hover {
	background-color:#7faff5;
}
.navBar {
	display:flex;
	justify-content:space-evenly;
}
.navButton {
	transition-duration:0.5s;
	cursor:pointer;
	border-radius:3px;
	background-color:#3381f5;
	border-style:none;
	color:#f1f1f1;
	font-weight:bold;
	font-size:20px;
	margin-bottom:3px;
	width:99%;
}
.navButton:hover {
	background-color:#7faff5;
}
.navButton2 {
	transition-duration:0.5s;
	cursor:pointer;
	border:3px;
	border-style:solid;
	border-radius:15px;
	border-color:#3381f5;
	color:#f1f1f1;
	background-color:#3381f5;
	font-weight:bold;
	font-size:20px;
	padding-left:15px;
	padding-right:15px;
	width:100%;
}
.navButton2:hover {
	background-color:#7faff5;
}
.navLink {
	text-decoration:none;
	width:100%;
}
.page {
	color:#0d2238;
	padding-left:50px;
	padding-right:50px;
	padding-top:10px;
	margin-bottom:10px;
}
.siteTitle {
	font-size:30px;
}
.titleLink {
	color:#f1f1f1;
	text-decoration:none;
}